<div class="container">
  

    <div class="item">
      <h3>PRAVEEN</h3>
    </div>
    <div class="item2">
      <img src="/assets/praveen.jpeg" width="300px" height="200px">
    </div>
    <div class="item3">
      <h6>DETAILS </h6>
      <p> age 20</p>
      <p>magdumpoor</p>
      <p>siddipet</p>
      <p>hyderabad</p>
    </div>
    <div class="four">
      <h4>WELCOME TO MY FAMILY</h4>
    </div>
    <div class="five">
      
      <p>nirudyogi</p>
      <p>b.tech</p>
      <p>web developer</p>
    
    </div>
    <div class="six">
      <table border="3">
        <thead>
          <tr>
            <th>image</th>
            <th>family member</th>
            <th>relation</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><img src=""></td>
            <td>lachagoud</td>
            <td>dad</td>
          </tr>
          <tr>
            <td><img src=""></td>
            <td>anasurya</td>
            <td>mother</td>
    
          </tr>
          <tr>
            <td><img src=""></td>
            <td>rajshekar</td>
            <td>brother</td>
          </tr>
          <tr>
            <td><img src=""></td>
            <td>ravikanth</td>
            <td>brother</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="first">
      <ul>
        <li><a href="">amazn</a></li>
        <li><a href="">amazn</a></li>
        <li><a href="">amazn</a></li>
        <li><a href="">amazn</a></li>
        
      </ul>
    </div>
 
</div>