<table class="table">
    <thead class="sticky">
        <tr>
            <th>UserId</th>
            <th>ID</th>
            <th>Title</th>
            <th>Completed</th>
        </tr>
    </thead>
    <tbody>
        <tr class="three" *ngFor="let typicode of typicodes" [ngStyle]="{'font-weight': typicode.completed ? 100 : 800 }">
            <td>{{ typicode.userId}} </td>
            <td>{{ typicode.id}} <input type="checkbox"></td>
            <td>{{ typicode.title}}</td>
            <td>{{ typicode.completed }}</td>
        </tr>
    </tbody>
</table>