<input type="text" placeholder="search" [(ngModel)]="term">
<button (click)="filter()">filter</button>

<table class="table table-dark">
    <thead>
        <tr>
            <td>createAd</td>
            <td>account name</td>
            <td>available_balance</td>
            <td>image</td>
            <td>currency</td>
            <td>account number</td>

        </tr>

    </thead>
    <tbody>
        <tr *ngFor="let account of accounts">
            <td>{{ account.createdAt}}</td>
            <td>{{ account.account_name}}</td>
            <td>{{ account.available_balance}}</td>
            <td><img src="{{ account.user_image}}" width="100px" height="100px"></td>
            <td>{{ account.currency}}</td>
            <td>{{ account.account_number}}</td>
            <td>{{account.id}}</td>
            <td>
                <button (click)="view( account.id)" class="btn btn-primary">view</button>
            </td>
            <td><button (click)="edit(account.id)" class="btn btn-primary">Edit </button></td>

        </tr>
    </tbody>
</table>
<ul class="pagination">

    <li class="page-item"><a class="page-link" (click)="pagination(1)">1</a></li>
    <li class="page-item"><a class="page-link" (click)="pagination(2)">2</a></li>
    <li class="page-item"><a class="page-link" (click)="pagination(3)">3</a></li>
    <li class="page-item"><a class="page-link" (click)="pagination(4)">4</a></li>
    <li class="page-item"><a class="page-link" (click)="pagination(5)">5</a></li>
    <li class="page-item"><a class="page-link" (click)="pagination(6)">6</a></li>
    <li class="page-item"><a class="page-link" (click)="pagination(7)">7</a></li>
    <li class="page-item"><a class="page-link" (click)="pagination(8)">8</a></li>
    <li class="page-item"><a class="page-link" (click)="pagination(9)">9</a></li>
    <li class="page-item"><a class="page-link" (click)="pagination(10)">10</a></li>
    <li class="page-item"><a class="page-link" (click)="pagination(11)">11</a></li>
</ul>
