<form [formGroup]="accountForm">
    <label>createAt:</label>
    <input type="text" formControlName="CreatedAt" ><br>
    <label>account name:</label>
    <input type="text" formControlName="account_name" ><br>
    <label>available_balance</label>
    <input type="text" formControlName="available_balance" ><br>
    <label>currency</label>
    <input type="text" formControlName="currency"> <br>
    <label>image</label>
    <input type="text" formControlName="user_image"><br>
    <label>accountnumber</label>
    <input type="text" formControlName="account_number">
    <br>
    <button (click)="submit()">submit</button>
</form>
