
    <div class="one">
        <a href="https://mail.google.com/mail/u/0/#inbox">G mail</a>
        <a href="https://www.google.com/imghp?hl=en">Images</a>
        
    </div>
    <div class="relative">
        
        <img src="assets/googlep.png" alt="">
        <br><br><br>

        

       
    </div>
    <div class="second">
        <input type="text" placeholder="search">
        <i class="bi bi-grid-3x3-gap-fill"></i>
       
        
        
    </div>
    <br><br>

    <div class="third">
        <button type="button" class="btn btn-light" id="b1">Google search</button>
        <button type="button" class="btn btn-light" id="b2">I'm feeling lucky</button>
    </div>
    
    <div class="footer">

    </div>
    
