<div class="parent">
    <div class="left">
        <h6 routerLink="interpolation">interpolation</h6>
        <h6 routerLink="eventbinding">event binding</h6>
        <h6 routerLink="two-waybinding">two-way binding</h6>
        <h6 routerLink="calculator">calculator</h6>
        <h6 routerLink="rectangle">rectangle</h6>
        <h6 routerLink="sqare">sqare</h6>
        <h6 routerLink="power">power</h6>
        <h6 routerLink="eventregistration">eventregistration</h6>
        <h6 routerLink="employee-registration">employeeregistration</h6>
        <h6 routerLink="cart">cart</h6>
        <h6 routerLink="amazon">amazon</h6>
        <h6 routerLink="google">google</h6>
        <h6 routerLink="pipes">pipes</h6>
        <h6 routerLink="cars">cars</h6>
        <h6 routerLink="star">star</h6>
        <h6 routerLink="program">program</h6>
        <h6 routerLink="footer">footer</h6>
        <h6 routerLink="gpay">gpay</h6>
        <h6 routerLink="banks">banks</h6>
        <h6 routerLink="vehicles">vehicles</h6>
        <h6 routerLink="typicode">typicode</h6>
        <h6 routerLink="flipkart">flipkart</h6>
        <h6 routerLink="typicodemail"> typicode mail</h6>
        <h6 routerLink="create-account">create account</h6>
        <h6 routerLink="create-user">create user</h6>
        <button (click)="logout()">logout</button>

    </div>
    <div class="right">
        <router-outlet></router-outlet>
    </div>
</div>
