<div class="input-group mt-3 mb-3">
    <div class="input-group-prepend">
      <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown">
        All
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">all categeries</a>
        <a class="dropdown-item" href="#">amazon fashion</a>
        <a class="dropdown-item" href="#">amazon pharmacy</a>
      </div>
    </div>
    <input type="text" class="form-control" placeholder="search">
    <button class="btn btn-outline-primary" type="button"><i class="bi bi-search"></i></button>
    
  
  </div>